{% extends 'meetups/base/base.html' %}
{% load static %}

{% block title %}
    Demo: Meetups: Static File Rendering
{% endblock %}

{% block site_css %}
    <link rel="stylesheet" href="{% static 'meetups/styles/all-meetups.css' %}">
{% endblock %}

{% block main_heading %}
    Great meetups coming soon, stay tuned!
{% endblock %}

{% block header_content %}
    <p>Choose the one that suits you best</p>
{% endblock %}

{% block body %}
<section>
    <h2>Upcoming Meetups</h2>
    <ol>
        {% for meetup in meetups %}
            {% include 'meetups/includes/meetup-item.html' with  title=meetup.title location=meetup.location image=meetup.image.url %}
        {% endfor %}
    </ol>
</section>
{% endblock %}

    <header id="main-header">
        <nav>
            <a href="/meetups" id="main-logo">DjangoMeetups</a>
        </nav>
    </header>

    <!-- This section belongs to initial lectures -->
    <h2>Past Meetups (Static File Rendering)</h2>

    {% if show_meetups %}
       {% for item in meetups %}
       <h4>{{item.title}}</h4>
       {% endfor %}
    {% else %}
        <h3>No Meetups found</h3>
    {% endif %}
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore officiis temporibus nisi in distinctio aspernatur repudiandae eum magni alias facere, dolores sapiente iusto debitis officia hic? Quod pariatur illum fuga.</p>

    <h5>Details</h5>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque cumque at architecto voluptas dolor aperiam quos assumenda rem unde soluta. Fugit veritatis deleniti pariatur atque eos qui fugiat illum voluptates.
   te quasi, adipisci ipsam corporis, sint qui animi error corrupti voluptatum? Sed molestias magni sunt doloremque expedita odit delectus non deserunt doloribus nostrum, amet atque?
</body>
</html>